<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="thisis.vegetarian.question.mark">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ivf_app_icon"
        android:label="@string/app_name_zh"
        android:roundIcon="@mipmap/ivf_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IsVegetarianFood">
        <activity
            android:name=".IVFWelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IVFLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IVFMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IVFScannerActivity"
            android:parentActivityName=".IVFMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeIsVegetarianFoodActionBar" />
        <activity
            android:name=".IVFCreateProduct"
            android:parentActivityName=".IVFMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeIsVegetarianFoodActionBar" />
        <activity
            android:name=".IVFInfoProduct"
            android:parentActivityName=".IVFMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IVFFeedBackActivity"
            android:parentActivityName=".IVFMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeIsVegetarianFoodActionBar"/>
    </application>

</manifest>